<section class="vs_all_p_baner vs_about_p_baner">
    <div class="container-fluid">
       <div class="row">
          <div class="vs_white">
             <h1 class="vs_ff_sb vs_fs_50"></h1>
             <div class="d-flex justify-content-center align-items-center gap-3">
               <p><img src="../../../assets/shopdog1.jpg" alt="img/shopdog1.jpg" width="1345px"></p>
             </div>
          </div>
       </div>
    </div>
 </section>

 <div class="container">
   <div class="vs_heading text-center mb-4">
      <h2 class="vs_Teko_SemiBold vs_fs_50 vs_brown">SHOP</h2>
      <p>Please see our complete line of healthy, natural treats and meals, as well as other products, coming soon! </p>
    </div>

    <div class="container">
      <div class="row">
         <div class="vs_white">
            <h1 class="vs_ff_sb vs_fs_50"></h1>
            <div class="d-flex justify-content-center align-items-center gap-3">
              <p><img src="../../../assets/shopdog2.png" alt="img/shopdog1.jpg" width="1200px"></p>
            </div>
         </div>
      </div>
