<section class="vs_all_p_baner vs_about_p_baner">
    <div class="container-fluid">
       <div class="row">
          <div class="vs_white">
             <h1 class="vs_ff_sb vs_fs_50"></h1>
             <div class="d-flex justify-content-center align-items-center gap-3">
                <p><a href="https://thelaunderedmutt.com/" title="" class="text-white"></a></p>
               <p><img src="../../../assets/servicedog.jpg" alt="img/servicedog.jpg" width="1345px"></p>
                <p></p>
             </div>
          </div>
       </div>
    </div>
 </section>

<div class="container">
 <div class="vs_heading text-center mb-4">
    <h2 class="vs_Teko_SemiBold vs_fs_50 vs_brown">SERVICES</h2>
    <p>Please see each of the menus below for a detailed summary of our services!  Due to the complexity of our booking schedule we are unable to book services online. Please call in during our normal business hours to make your appointment for any services we offer.  Thank you!  </p>
  </div>

  
