.navbar-light .navbar-nav .nav-link
{
    color: #162328;
}

.navbar-light .navbar-nav .nav-link:hover
{
    color: #99112F !important;
}

.navbar-brand
{
    font-family: cursive;
}
.nav, nav
{
    background-color: #005F7A;
    padding-top: 50px;
    position: relative;
}

.button:hover{
    background-color: brown;
  }
  .button:hover a {
    color: #fff !important;
  }
  .button{
    background-color: yellow;
    font-size: 15px;
    padding: 10px 20px;
    display: block;
  }

  .log .button a{
    text-decoration: none;
    color: black;
  }