<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       <div class="container d-flex justify-content-center">
    <div class="row">
      <div class="col-12 d-flex justify-content-center mb-3">
        <a class="navbar-brand" href="#"
        ><img
          id="MDB-logo"
          src="../../../assets/index.png"
          alt="MDB Logo"
          draggable="false"
          height="70"
      /></a>
      </div>
      <div class="col-12 d-flex justify-content-center">
       <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="about" routerLinkActive="active-link">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="service" routerLinkActive="active-link">SERVICES</a>
            </li>
            <li class="nav-item">
               <a class="nav-link text-white" routerLink="shop" routerLinkActive="active-link">SHOP</a>
             </li>
             <li class="nav-item">
               <a class="nav-link text-white" routerLink="happydog" routerLinkActive="active-link">HAPPY DOG GALLERY</a>
             </li>
             <li class="nav-item">
               <a class="nav-link text-white" routerLink="adoption" routerLinkActive="active-link">ADOPTION & RESCUE</a>
             </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="contact" routerLinkActive="active-link">CONTACT US</a>
            </li>
            <li class="log">
             <button class="button"><a routerLink="loginsign" routerLinkActive="active-link">LOGIN/SIGN UP</a></button>
           </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    </div>
  </nav>
 
 
