<footer class="vs_footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="vs_ftr_logo">

          <img src="../../../assets/index.png" alt="img/Logo.png">

        </div>

      </div>

      <div class="col-lg-3 col-md-6 mb-4">

        <div class="vs_ftr_links">

          <h4 class="vs_h4 mb-4">USEFUL LINKS</h4>

          <ul class="links">
            <li class="nav-item">
              <a class="nav-link" routerLink="" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact:true}">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="about" routerLinkActive="active-link">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="service" routerLinkActive="active-link">SERVICES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="shop" routerLinkActive="active-link">SHOP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="happydog" routerLinkActive="active-link">HAPPY DOG GALLERY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="adoption" routerLinkActive="active-link">ADOPTION & RESCUE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contact" routerLinkActive="active-link">CONTACT US</a>
            </li>
          </ul>

        </div>

      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="vs_ftr_cont_info">
          <h4 class="vs_h4 mb-4">CONTACT INFO</h4>
          <div class="vs_flex mb-3">
            <div><i class="fa-solid fa-location-dot" style="color: aliceblue;"></i></div>
            <div>
              <p class="mb-0">27537 Jefferson Avenue, Temecula, CA</p>
            </div>
          </div>

          <div class="vs_flex mb-3">
            <i class="fa-solid fa-phone" style="color: aliceblue;"></i>
            <p class="mb-0"><a href="tel:9516949274">(951) 694-9274</a></p>
          </div>

          <div class="vs_flex mb-3">
            <i class="fa-solid fa-inbox" style="color: aliceblue;"></i>
            <p class="mb-0"><a href="mailto:info@launderedmutt.com">info@launderedmutt.com</a></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">

        <h4 class="vs_h4 mb-4">OPENING HOURS</h4>

        <div class="vs_opening_h">

          <p><span>Monday</span><span> : Closed</span></p>

          <p><span>Tuesday</span> <span> : 09 am - 04 pm</span></p>

          <p><span>Wednesday</span> <span> : 09 am - 04 pm</span></p>

          <p><span>Thursday</span> <span> : 09 am - 04 pm</span></p>

          <p><span>Friday</span> <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : 09 am - 04 pm</span></p>

          <p><span>Saturday</span> <span>&nbsp; : 09 am - 04 pm</span></p>

          <p><span>Sunday</span> <span> : Closed Sunday /</span><span>Open for </span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Training
              Classes only</span>
          </p>

        </div>

      </div>



    </div>

    <div class="vs_bottom_bar">
      <div class="d-md-flex justify-content-md-between align-items-center">
        <div class="mb-4 mb-md-0">
          <p class="mb-0 text-white">© 2023 The Laundered Mutt All Rights Reserved. </p>
        </div>

        <div class="vs_social_link">
            <a href="#"><i class="fa-brands fa-facebook" style="color: lightblue;"></i></a>
            <span>&nbsp;&nbsp;</span>
            <a href="#"><i class="fa-brands fa-twitter" style="color: lightblue;"></i></a>
            <span>&nbsp;&nbsp;</span>
            <a href="#"><i class="fa-brands fa-linkedin" style="color: lightblue;"></i></a>
            <span>&nbsp;&nbsp;</span>
            <a href="#"><i class="fa-brands fa-instagram" style="color: lightblue"></i></a>
            <span>&nbsp;&nbsp;</span> 
        </div>
      </div>
    </div>



  </div>

</footer>