<section class="vs_all_p_baner vs_about_p_baner">
    <div class="container-fluid">
       <div class="row">
          <div class="vs_white">
             <h1 class="vs_ff_sb vs_fs_50"></h1>
             <div class="d-flex justify-content-center align-items-center gap-3">
               <p><img src="../../../assets/contact1.jpg" alt="img/contact1.jpg" width="1345px"></p>
             </div>
          </div>
       </div>
    </div>
 </section>

 <div class="bgcolor">
<div class="container">
   <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
    <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
      style="border:0" allowfullscreen></iframe>
  </div>
</div>

<div class="container">
   <div class="row mt-5">
     <div class="col-md-6 mb-4">
      <h2 class="vs_Teko_Bold vs_brown mb-4">CONTACT INFORMATION</h2>
      <div class="mb-4">
        <h6 class="vs_ff_sb">Office</h6>
        <div class="d-flex align-items-center gap-3">
          <div><i class="fa-solid fa-location-dot" style="color: blue;"></i></div>
          <div>
            <p class="mb-0 vs_fs_14">&nbsp;27537 Jefferson Avenue, Temecula, CA</p>
          </div>
        </div>
      </div>
      <div class="mb-4">
        <h6 class="vs_ff_sb mb-4">Contact Information</h6>
        <div class="d-flex align-items-center gap-3 mb-4">
          <div><i class="fa-solid fa-phone" style="color: blue;"></i></div>
          <div>
            <p class="mb-0 vs_fs_14">&nbsp;(951) 694-9274</p>
          </div>
        </div>
        <div class="d-flex align-items-center gap-3 mb-4">
          <div><i class="fa-solid fa-inbox" style="color: blue;"></i></div>
          <div>
            <p class="mb-0 vs_fs_14">&nbsp;info@launderedmutt.com</p>
          </div>
        </div>
      </div>
   </div>

   <div class="col-md-6 mb-4">
     <div class="vs_contact_form">
       <h2 class="vs_Teko_Bold vs_brown">CONTACT US</h2>
       <form method="POST" action="">
         <div class="mb-4">
           <input type="text" class="form-control border border-dark" placeholder="Name" name="name" required="">
         </div>
         <div class="row">
           <div class="col-md-6 mb-4">
             <input type="email" class="form-control border border-dark" placeholder="Email" name="email" required="">
           </div>
           <div class="col-md-6 mb-4">
             <input type="number" class="form-control border border-dark" placeholder="Phone" name="mobile" required="">
           </div>           
         </div>
         <div class="mb-4">
          <textarea class="form-control pt-3 border border-dark" id="" placeholder="Your Message" rows="5" required="" name="message"></textarea>
         </div>
        <button class="button" type="submit"><a>SEND MESSAGE</a></button>
       </form>
     </div>
   </div>
 </div>
</div>
</div>
