body{
    background-color: rgb(150, 196, 207);
}

.container-fluid{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    width:360px;
    height:370px;
    background-color:#fff;
    border-radius:10px;
    border:none;
    padding:20px;
}

.form{
    margin-top:15px;
}

.form label{
    font-weight:700;
    font-size:14px;
}
.form input{
    height:45px;
    border:2px solid #eee;
    transition:all 0.9s;
}

.form input:focus{
    box-shadow:none;
    border:2px solid #2541B2;
}

.social-button{
    height:45px;
    background-color:#2541B2;
}

.login-button{
    margin-top:15px;
}

.login-button button{
    height:45px;
}