<div class="container">
    <div class="row">
       <div class="vs_white">
          <h1 class="vs_ff_sb vs_fs_50"></h1>
          <div class="d-flex justify-content-center align-items-center gap-3">
             <p><a href="https://thelaunderedmutt.com/" title="" class="text-white"></a></p>
            <p><img src="../../../assets/dog1.png" alt="img/dog1.png" width="1165px" height="400"></p>
          </div>
       </div>
    </div>
 </div>

<div class="container">
<div class="container">
 <div class="row">
   <div class="col-md-12 text-center">
     <div class="vs_heading mb-4">
       <h2 class="aboutus">ABOUT US</h2>
       <p>The Laundered Mutt Grooming & Training Center is proud to serve you, our valued clients and pet parents.  Here are some familiar faces you'll see when you visit us at "The Mutt". </p>
     </div>
   </div>
 </div>
</div>

<div class="row mt-4">
<div class="col-lg-6">
     <div class="container">
         <figure>
             <div class="vs_hover_img vs_adoption_img ">
                 <img src="https://thelaunderedmutt.com/uploads/6304d20a7b5fb.jpg" alt="" height="348px" class="w-100">
             </div>
             <figcaption class="mt-3">
                 <p class="mb-md-0 vs_ff_sb">Yvette Spillman</p>
                 <h6 class="mb-2 ">Owner</h6>
                 <p class="color">
                     Yvette comes from an extensive background in animal rescue having served 23 years as the founder of Unconditional Love Foundation, a non-profit organization dedicated to horse and dog rescue.  Yvette is also a Financial Advisor, specializing in Retirement Planning, serving her clients for 22 years.  Her love of dogs, people, and all animals, has prompted her to take over the Laundered Mutt and expand it to provide more valuable services for pet parents and their 4-legged family members.  You'll find Yvette in the shop, teaching CPR and Emergency Readiness classes, as well as doing massage and aqua therapy.           					</p>
             </figcaption>
         </figure>
     </div>
 </div>
 
 <div class="col-lg-6">
     <div class="container">
         <figure>
             <div class="vs_hover_img vs_adoption_img ">
                 <img src="https://thelaunderedmutt.com/uploads/6305e8dcc148d.JPG" alt="" class="w-100">
             </div>
             <figcaption class="mt-3">
                 <p class="mb-md-0 vs_ff_sb">Daniel Reza</p>
                 <h6 class="mb-2 ">General Manager</h6>
                 <p class="color">
                     Danny Reza is a warm friendly face that everyone coming in to the Laundered Mutt has come to know and love.  Danny comes from an extensive background in biochemistry, and the applied sciences, with a strong love for animals.  He is outgoing, loves sports and outdoor fun, and puts his family and pups first.  Danny's warmth and care for people shines through in his every interaction, and we are very proud to have him managing our center.           					
                 </p>
             </figcaption>
         </figure>
     </div>
 </div>
</div>

<div class="container">
 <div class="row">
   <div class="col-md-12 text-center">
     <div class="vs_heading mb-4">
       <h2 class="aboutus">OUR  STAFF</h2>
       <p>Our warm, friendly staff is here to serve you. From our dedicated bathers, to our administrative team, to our professional groomers and trainers. We want you and your dog's experience here to be first SAFE, then pleasant and rewarding. We welcome you in to be a part of our pet care family!  </p>
     </div>
   </div>
 </div>
</div>

<div class="row mt-4">
         <div class="col-lg-4 col-md-6">
     <div class="vs_spealist_box">
     <figure>
         <div class="vs_adoption_img ">
             <img src="../../../assets/dog1.png" alt="" width="356px" height="354px" class="w-100">
         </div>
     </figure>
     </div>
     </div>
         <div class="col-lg-4 col-md-6">
     <div class="vs_spealist_box">
     <figure>
         <div class="vs_adoption_img ">
             <img src="../../../assets/about2.png" alt="" width="356px" height="354px" class="w-100">
         </div>
     </figure>
     </div>
     </div>

     <div class="col-lg-4 col-md-6">
         <div class="vs_spealist_box">
         <figure>
             <div class="vs_adoption_img ">
                 <img src="../../../assets/about1.png" alt="" width="356px" height="354px" class="w-100">
             </div>
         </figure>
     </div>
     </div>
</div>
</div>
