<section class="vs_all_p_baner vs_about_p_baner">
    <div class="container-fluid">
       <div class="row">
          <div class="vs_white">
             <h1 class="vs_ff_sb vs_fs_50"></h1>
             <div class="d-flex justify-content-center align-items-center gap-3">
               <p><img src="../../../assets/adoption1.png" alt="img/shopdog1.jpg" width="1345px"></p>
             </div>
          </div>
       </div>
    </div>
 </section>

 <div class="container mb-5">
    <div class="row">
       <div class="col-md-12 text-center">
          <h2>ADOPTION DAYS! </h2>
          <p>We are VERY pleased to have an adoption program</p>
          <p>starting soon.  Please check our website regularly</p>
          <p>for adoption days, and the beautiful souls seeking to share</p>
          <p>their love with a wonderful new family!</p>
         <img src="../../../assets/commingsoon.png" alt="">
    </div>
 </div>
</div>
