<section class="vs_all_p_baner vs_about_p_baner">
    <div class="container-fluid">
       <div class="row">
          <div class="vs_white">
             <h1 class="vs_ff_sb vs_fs_50"></h1>
             <div class="d-flex justify-content-center align-items-center gap-3">
               <p><img src="../../../assets/happydog1.jpg" alt="img/happydog1.jpg" width="1345x"></p>
             </div>
          </div>
       </div>
    </div>
 </section>

 <div class="container">
   <div class="vs_heading text-center mb-4">
      <h2 class="vs_Teko_SemiBold vs_fs_50 vs_brown">HAPPY DOG GALLERY</h2>
   </div>
 </div>

 <div class="container">
 <div class="row mt-4">
    <div class="col-lg-4 col-md-6 mb-4">
        <figure>
            <div class="vs_adoption_img">
                <img src="../../../assets/hd1.JPG" alt="hd1.JPG" width="356px" height="354px" class="w-100">
            </div>
        </figure>
    </div>

    <div class="col-lg-4 col-md-6">
        <figure>
            <div class="vs_adoption_img ">
                <img src="../../../assets/hd2.jpg" alt="hd2.JPG" width="356px" height="354px" class="w-100">
            </div>
        </figure>
    </div>

<div class="col-lg-4 col-md-6">
    <figure>
        <div class="vs_adoption_img ">
            <img src="../../../assets/hd3.jpg" alt="hd3.JPG" width="356px" height="354px" class="w-100">
        </div>
    </figure>
</div>

<div class="col-lg-4 col-md-6 mb-4">
    <figure>
        <div class="vs_adoption_img ">
            <img src="../../../assets/hd4.jpg" alt="hd4.JPG" width="356px" height="354px" class="w-100">
        </div>
    </figure>
</div>

<div class="col-lg-4 col-md-6">
    <figure>
        <div class="vs_adoption_img ">
            <img src="../../../assets/hd5.jpg" alt="hd5.JPG" width="356px" height="354px" class="w-100">
        </div>
    </figure>
</div>

<div class="col-lg-4 col-md-6">
    <figure>
        <div class="vs_adoption_img ">
            <img src="../../../assets/hd6.jpg" alt="hd6.JPG" width="356px" height="354px" class="w-100">
        </div>
    </figure>
</div>
</div>
</div>
